

.titulo {
  font-family: 'Potta One', cursive;
  text-align: center;
}



input.ng-touched.ng-invalid {
  border-color: #dc3545;
}

input.ng-valid {
  border-color: #27a745;
}

.green-icon {
  border-color: #27a745;
}

.red-icon {
  border-color: #dc3545;
}
